    
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add a new item to store</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
	<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
	
	
</head>
<body>
	<h1>Create a new order</h1>

	  <form action="#" th:action="@{/saveorder}" th:object="${order}" method="post">
 
          <table class="table table-striped">
          <tr>
             <td>
               <th class="custom-select" th:each="item : ${items}">
                <input type="checkbox" th:field="*{orderItems}" th:value="${item.name}" />1
                <input type="checkbox" th:field="*{orderItems}" th:value="${item.name}" />2
                <input type="checkbox" th:field="*{orderItems}" th:value="${item.name}" />3
                <input type="checkbox" th:field="*{orderItems}" th:value="${item.name}" />4
                <label th:text="${item.itemNumber}"></label>
                 <label th:text="${item.name}"></label>
                  <label th:text="${item.price}"></label>
                  
               </th>    
           </tr>
        </table>
        
		<p><input type="submit" value="Submit" th:value="Save" /> 
		
		<label for="deplist">Customer</label>
 			<select class="custom-select" th:field="*{customer}" >
            <option th:each="customer: ${customer}"
            		th:value="${customer.customerid}"
 					th:text="${customer.customerName}">
 			</option>
         </select>		
    </form>
    
    
</body>
<script>


</script>

</html>